:root {

     --radius-hard: 10px;
     --radius-soft: 20px;
     --spacing-s: 10px;
     --spacing-m: 20px;
     --spacing-l: 30px;
     --spacing-xl: 40px;

     --grey-dark: rgba(0, 0, 0, 0.08);
     --transparent: rgba(220, 220, 220, 0.5);
     
     --color-violet: blueviolet;
     --color-lightgrey: #EDEDED;
     --color-grey: slategrey;

     --color-white: white;
     --color-black: black;

     --color-texto: black;
}

html {
     scroll-behavior: smooth;
}

body {
     font-family: sans-serif;
     margin: 0;
     top: 0;
     background-color: var(--color-black);

     font-family: 'Abordage';

}

a,
a:visited {
     color: var(--color-violet);
     text-decoration: underline dotted;
     text-decoration-color: var(--color-violet);
     transition: all .3s ease-in-out;
}


a:hover {
     text-decoration-color: var(--color-violet);
     transition: all .3s ease-in-out;
     text-decoration: none;

}

h1 {
     margin: 0 0 var(--spacing-m)0;
     text-align: center;
     font-family: 'Latitude';
     color: var(--color-violet);
     border: 2px dotted var(--color-violet);
     padding: var(--spacing-m);
     border-radius: 50px;
     box-shadow: inset 0px 0px 20px #8a2be285;
     font-size: 1.2rem;
     animation: 2s infinite alternate pulse ease-in-out;
}

@keyframes pulse {
     0% {
          box-shadow: inset 0px 0px 20px #8a2be285;
     }

     100% {
          box-shadow: inset 0px 0px 20px transparent;
     }
}

h1 > a {
     text-decoration: none;

}


h2 {
     margin: 0;
     color: var(--color-grey);
     font-weight: 400;
     font-size: 1.1rem;
}


.content {
     z-index: 2;
     position: fixed;

     transform: rotate(0);
     transition: all .5s ease-in-out;


     padding: var(--spacing-m) var(--spacing-l) var(--spacing-xl) var(--spacing-l);
     height: 100dvh;
     box-sizing: border-box;
     background-color: var(--color-white);
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     width: 100%;

     background-image: url(../noise.png);

     border-radius: var(--radius-soft);
}

.shows {
     transition: all .5s ease-in-out;
     transform: rotate(-10deg) translate(0%, -100%);
     border-radius: var(--radius-hard);
     filter: blur(2px);
}

#esquina {
     position: fixed;
     bottom: 0;
     right: 0;
     width: 15vmin;
     z-index: 999;
     aspect-ratio: 1/1;
     transition: all ease-in-out .5s;
}

#esquina:hover {
     width: 25vmin;
     transition: all ease-in-out .5s;
}


/*//////////////// IMAGEN /////////////*/

.imagen {
     opacity: 0;
     position: fixed;
     height: 100dvh;
     width: 100vw;
     top: 0;
     left: 0;
     object-fit: contain;
     background-color: white;
     z-index: 0;
     transition: all .8s ease-in-out;
}

.showImage {
     opacity: 1 !important;
     z-index: 2 !important;
     transition: all .8s ease-in-out;
}


/*//////////////// FECHA /////////////*/

#fecha {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     box-sizing: border-box;
     width: 100%;

     margin: 0 var(--spacing-xl) 0 var(--spacing-xl);

     background-color: var(--color-lightgrey);
     box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
     border-radius: var(--radius-soft);
     padding: var(--spacing-m);
     box-sizing: border-box;

     max-width: 400px;

     color: var(--color-texto);

}

.enumero {
     font-size: 0.8rem;
     text-transform: capitalize;
     font-weight: 400;
     line-height: 1;
     margin-bottom: var(--spacing-m);
     text-align: center;
     border: 1px dotted var(--color-violet);
     padding: 6px 8px 4px 8px;
     border-radius: 50px;
     color: var(--color-violet);
     opacity: 1;
     box-shadow: inset 0px 0px 7px var(--color-violet);

     font-family: 'Latitude';
     text-decoration: none;

     animation: 2s infinite alternate pulse;

}

.mes {
     font-size: 2rem;
     text-transform: capitalize;
     font-weight: 600;
     line-height: 1;
     margin-bottom: var(--spacing-m);
     letter-spacing: 1px;
}

.numero {
     font-size: 11rem;
     font-weight: 900;
     line-height: .8;

}

.dia {
     font-size: 2rem;
     text-transform: capitalize;
     font-weight: 600;
     letter-spacing: 1px;
}

/*//////////////// DATA INFO /////////////*/

#infos {
     overflow-y: scroll;
     width: 100%;
     scroll-behavior: smooth;

     height: inherit;

     scrollbar-width: none;
     -ms-overflow-style: none;

     font-size: 1.3rem;
     max-width: 500px;

     color: var(--color-texto);


}


#infos>div {
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
     flex-direction: column;
     text-align: center;
     width: 100%;
}


#infos h4 {
     font-weight: 600;
     font-family: 'Latitude';
     margin-bottom: var(--spacing-s);
     color: var(--color-violet);
}

#nada span {
     opacity: 1;
     font-size: 1.6rem;
     text-decoration: none !important;
}

#nada>h4:nth-child(2) {
     font-size: 4rem;
     transform: rotate(90deg);
     margin: 0;
     line-height: 1;
}

.autore {
     margin-top: var(--spacing-s);
     font-size: 90%;
     color: var(--color-grey);

     text-decoration: none !important;

}

.frase {
     font-style: italic;
}

.url {
     text-decoration: dotted !important;
     color: var(--color-violet);
}



/* #pnumero {
     position: fixed;
     top: var(--spacing-s);
     left: 50%;
     transform: translate(-50%, calc(-100% - var(--spacing-s)));
     width: 80vw;
     background-color: var(--color-lightgrey);
     padding: var(--spacing-s);
     border-radius: var(--radius-hard);
     z-index: 99;
     border: 1px solid var(--grey-dark);
     backdrop-filter: blur(10px);

     animation: 4s ease-in-out;
     animation-name: notif;
     animation-delay: 2s;
}

@keyframes notif {
     0% {
          transform: translate(-50%, calc(-100% - var(--spacing-s)));
     }

     30% {
          transform: translate(-50%, 50%);
     }

     70% {
          transform: translate(-50%, 50%);
     }

     100% {
          transform: translate(-50%, calc(-100% - var(--spacing-s)));
     }
} */


/*//////////////// MENU BOTONOS /////////////*/

.menu {
     display: flex;
     justify-content: center;
     font-size: 150%;
     z-index: 999;
     border-radius: var(--radius-hard);
     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.menu a {
     color: inherit;
     text-decoration: none;
}

.block {
     background-color: var(--color-lightgrey);
     padding: 10px 24px;
     transition: all .3s ease-in-out;
     border-right: 1px solid var(--grey-dark);
}


.menu>a:nth-child(1) {
     border-radius: var(--radius-hard) 0 0 var(--radius-hard);
}

.menu>a:last-child {
     border-radius: 0 var(--radius-hard) var(--radius-hard) 0;
     border-right: none;
}

.block:nth-child(1):hover,
.selected1 {
     box-shadow: inset 0px 0px 20px var(--color-grey);
     transition: all .3s ease-in-out;
}

.block:nth-child(2):hover,
.selected2 {
     box-shadow: inset 0px 0px 20px var(--color-grey);
     transition: all .3s ease-in-out;
}

.block:nth-child(3):hover,
.selected3 {
     box-shadow: inset 0px 0px 20px var(--color-grey);
     transition: all .3s ease-in-out;
}

/*//////////////// INFORMACION /////////////*/

.content-info {
     z-index: 1;
     position: absolute;
     top: 0;
     padding: var(--spacing-m) var(--spacing-l) var(--spacing-xl) var(--spacing-l);
     height: fit-content;
     box-sizing: border-box;
     background-color: var(--color-white);
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow-y: scroll;
     height: 100dvh;
     background-image: url(../noise.png);

     border-radius: var(--radius-soft);
     width: 100%;

}

.author {}

.insta {
     text-align: center;
     border: 1px dotted var(--color-violet);
     padding: var(--spacing-m);
     border-radius: 100%;
     color: var(--color-violet);
     opacity: 1;
     transition: all .3s ease-in-out;

     font-family: 'Latitude';
}

.rot1 {
     transform: rotate(10deg) translateX(-50px);
     margin: var(--spacing-m) 0 var(--spacing-m) 0;
}

.rot2 {
     transform: rotate(-10deg) translateX(50px);
     margin: var(--spacing-l) 0 0 0;

}

.credits {
     width: 100%;
     padding: var(--spacing-m);
     box-sizing: border-box;
     border-radius: var(--radius-soft);
     background-color: var(--color-lightgrey);
     box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
     /* height: 190px;
     overflow-y: scroll; */
     /* margin: 0 0 var(--spacing-xl)0; */
     text-align: center;
     max-width: 400px;
}

.credits p {
     font-size: 1rem;
     margin: 0 0 var(--spacing-s) 0;
     font-weight: 600;
     line-height: 1.2;

     color: var(--color-texto);
}

hr {
     border-top: 2px dashed var(--color-grey);
     border-bottom: 0;
     margin: var(--spacing-m) 0 var(--spacing-s) 0;
}

.credits p:nth-child(2) {
     margin: 0;
     font-weight: 400;
     line-height: 1.2;
     color: var(--color-grey);
}

.contact {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: inherit;
}


.insta:hover,
.insta:active {
     box-shadow: inset 0px 0px 20px var(--color-violet);
     transition: all .3s ease-in-out;
     text-decoration: none;

}

#update {
     position: absolute;
     bottom: var(--spacing-l);
     font-size: 90%;
     color: var(--color-grey);
}