:root {
     --radius-hard: 10px;
     --radius-soft: 20px;
     --spacing-s: 10px;
     --spacing-m: 20px;
     --spacing-l: 30px;

     --grey: #EDEDED;
     --grey-dark: rgba(0, 0, 0, 0.15);
     --transparent: rgba(220, 220, 220, 0.5);
}

html {
     scroll-behavior: smooth;
}

body {
     font-family: sans-serif;
     margin: 0;
     top: 0;
}

a,
a:hover,
a:visited {
     color: inherit;
     text-decoration: none;
}

h2 {
     margin: 0 0 var(--spacing-m)0;
     text-align: center;
}


#infos>p {
     margin: 0 0 var(--spacing-m) 0;
     padding-top: var(--spacing-m);
}

#infos>p>span {
     font-weight: 600;
}

#santo {
     padding-top: 0 !important;
}

.content {
     z-index: 1;
     position: relative;
     padding: calc(var(--spacing-l)*1) var(--spacing-l) var(--spacing-l) var(--spacing-l);
     height: 100vh;
     box-sizing: border-box;
     background-color: white;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
}

#esquina {
     position: fixed;
     top: 0;
     right: 0;
     width: 15vmin;
     z-index: 999;
     aspect-ratio: 1/1;
}

#esquina:hover {
     animation: .5s ease-in-out;
     animation-name: big;
     animation-iteration-count: 2;
     animation-direction: alternate;

}

@keyframes big {
     0% {
          width: 15vmin;
     }

     100% {
          width: 30vmin;
     }
}


/*//////////////// IMAGEN /////////////*/

.imagen {
     opacity: 0;
     position: fixed;
     height: 100vh;
     width: 100vw;
     top: 0;
     left: 0;
     object-fit: contain;
     background-color: white;
     z-index: 0;
     transition: all .8s ease-in-out;
}

.showImage {
     opacity: 1 !important;
     z-index: 2 !important;
     transition: all .8s ease-in-out;
}


/*//////////////// FECHA /////////////*/

#fecha {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     box-sizing: border-box;
     /* max-height: 35vh; */
}

.enumero {
     font-size: 0.9rem;
     text-transform: capitalize;
     font-weight: 600;
     line-height: 1;
     margin-bottom: var(--spacing-m);
}

.mes {
     font-size: 2rem;
     text-transform: capitalize;
     font-weight: 600;
     line-height: 1;
     margin-bottom: var(--spacing-m);
}

.numero {
     font-size: 11rem;
     font-weight: 900;
     line-height: .8;
}


.dia {
     font-size: 2rem;
     text-transform: capitalize;
     font-weight: 600;
}

/*//////////////// DATA INFI /////////////*/

#infos {
     background-color: var(--grey);
     padding: var(--spacing-m);
     box-sizing: border-box;
     overflow-y: scroll;
     border-radius: var(--radius-soft);
     margin: calc(var(--spacing-l)*1) 0 calc(var(--spacing-m)*2) 0;
     max-width: 400px;
     scroll-behavior: smooth;

     box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
}


/* #pnumero {
     position: fixed;
     top: var(--spacing-s);
     left: 50%;
     transform: translate(-50%, calc(-100% - var(--spacing-s)));
     width: 80vw;
     background-color: var(--grey);
     padding: var(--spacing-s);
     border-radius: var(--radius-hard);
     z-index: 99;
     border: 1px solid var(--grey-dark);
     backdrop-filter: blur(10px);

     animation: 4s ease-in-out;
     animation-name: notif;
     animation-delay: 2s;
}

@keyframes notif {
     0% {
          transform: translate(-50%, calc(-100% - var(--spacing-s)));
     }

     30% {
          transform: translate(-50%, 50%);
     }

     70% {
          transform: translate(-50%, 50%);
     }

     100% {
          transform: translate(-50%, calc(-100% - var(--spacing-s)));
     }
} */


/*//////////////// MENU BOTONOS /////////////*/

.menu {
     display: flex;
     justify-content: center;
     font-size: 150%;
     z-index: 999;
     border-radius: var(--radius-hard);
     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}


.block {
     background-color: var(--grey);
     padding: 10px 24px;
     transition: all .3s ease-in-out;
     border-right: 1px solid var(--grey-dark);
}

.block:hover {
     background-color: gray;
     transition: all .3s ease-in-out;
}

.menu>a:nth-child(1) {
     border-radius: var(--radius-hard) 0 0 var(--radius-hard);
}

.menu>a:nth-child(4) {
     border-radius: 0 var(--radius-hard) var(--radius-hard) 0;
     border-right: none;
}


/*//////////////// INFORMACION /////////////*/

.content-info {
     z-index: 1;
     position: relative;
     padding: calc(var(--spacing-l)*1) var(--spacing-l) var(--spacing-l) var(--spacing-l);
     height: 100vh;
     box-sizing: border-box;
     background-color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.block1 {
     width: 100%;
}

h3 {
     margin: 0;
}

form {
     background-color: var(--grey);
     padding: var(--spacing-m);
     box-sizing: border-box;
     overflow-y: scroll;
     border-radius: var(--radius-soft);
     max-width: 400px;
     scroll-behavior: smooth;

     display: flex;
     flex-direction: column;
     row-gap: var(--spacing-m);
     box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
}

form textarea {
     width: 100%;
}

.fecha div {
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: var(--spacing-m);
}

.two-column {
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: var(--spacing-s);
}

label {
     border: 1px solid var(--grey-dark);
     padding: var(--spacing-s);
     border-radius: var(--radius-hard);
     text-align: center;
     background-color: white;
}

.checked{
     background-color: #fff5c1;
}

select {
     border: 1px solid var(--grey-dark);
     padding: var(--spacing-s);
     border-radius: var(--radius-hard);
     text-align: center;
     background-color: white;
   }

textarea {
     resize: none;
     overflow: auto;
}

.input {
     width: 100%;
     margin-top: var(--spacing-s);
     padding: var(--spacing-s);
     box-sizing: border-box;
     border-radius: var(--radius-hard);
     border: 1px solid var(--grey-dark);

}

#send{
     width: 100%;
     border: 1px solid var(--grey-dark);
     padding: var(--spacing-s);
     border-radius: var(--radius-hard);
     text-align: center;
     background-color: white;
}

h4 {
     margin: 0 0 var(--spacing-s) 0;
}

#mensaje:checked {
     content: "😩";
 }